.body-area {
    background-image: url(./images/background_body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-weight: normal;
    margin-bottom: 45px;
}

h2 {
    font-weight: normal;
    line-height: 0%;
}

p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgba(86, 123, 128);
}

form {
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px rgb(48, 67, 66);
    padding: 2%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.form-data {
    display: flex;
    justify-content: center;
}

.field::placeholder {
    font-style: italic;
    color: white
}

.field {
    margin-top: 8px;
    margin-bottom: 8px;
    width: 94%;
    padding: 18px;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    color: white;
    border-radius: 10px;
    border: none;
}

.field-small::placeholder {
    font-style: italic;
    color: white;
}

.field-small {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 45%;
    padding: 18px;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    border-color: white;
    border-radius: 10px;
    border: none;
    color:white;
}

.asunto::placeholder {
    font-style: italic;
}

.field-description::placeholder {
    font-style: italic;
    font-family: "Inter", sans-serif;
    color: white;
}


.field-description {
    margin-top: 20px;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    border-color: white;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    padding-left: 18px;
    padding-top: 20px;
    resize: none;
}

.title {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.title02 {
    display: flex;
    justify-content: space-around;
}

.space {
    display: flex;
    flex-direction: column;
}

.space-small {
    display: flex;
    justify-content: center;
    gap: 5px
}

.boton {
    margin-left: 69%;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background:
        radial-gradient(ellipse at top, rgb(93, 149, 145)),
        radial-gradient(ellipse at bottom, rgb(58, 76, 79));
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

.haki-checkbox {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(86, 123, 128);
    margin-top: 15px;
    max-width: 90%;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    gap: 10px;
}