.body-area {
    background-image: url(./images/background_body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: grid;
}

.header-area {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
}

.header-image {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: flex-start;
    gap: 5px;
}

.image-size {
    width: 30%;
    height: 30%;
}

.container {
    border: 2px solid rgb(239, 236, 228);
    display: grid;
    margin: auto;
    width: 90%;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "container-nav container-nav"
        "container-pirate container-pirateRelations";
}

.container-nav {
    grid-area: container-nav;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
    border-radius: 20px;

}

.nav-search {
    margin-bottom: 15px;
    margin-top: 19px;
    text-align: left;
}

.search-pirate {
    width: 300px;
}

.search-info {
    max-width: 30%;
    background-color: green;
    padding: 1%;
    border-radius: 10px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.container-pirate {
    grid-area: container-pirate;
    background-image: radial-gradient(ellipse at center,
            #cbb689 0%,
            #dcc58f 50%,
            #9b774b 100%);
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    padding: 1%;
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    grid-template-areas:
        "pirate-title pirate-title"
        "pirate-image pirate-data"
        "pirate-haki pirate-powers"
        "comeback comeback";
}

.pirate-title {
    grid-area: pirate-title;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pirate-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.pirate-image {
    grid-area: pirate-image;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wantedPoster-image {
    width: 90%;
    height: 90%;
    margin: 1%;
    border-radius: 8px;
    filter: sepia(0.5) contrast(1.2);
}

.pirate-data {
    grid-area: pirate-data;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pirate-haki {
    grid-area: pirate-haki;
    display: flex;
    margin: 2%;
    background-color: #e7e5da;
    border-radius: 10px;
    opacity: 50%;
    padding: 1%;
}

.haki {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.haki-image {
    width: 20%;
}

.pirate-powers {
    grid-area: pirate-powers;
}

.comeback {
    grid-area: comeback;
    display: flex;
    justify-content: flex-end;
}

.container-pirateRelations {
    grid-area: container-pirateRelations;
    background-image: radial-gradient(ellipse at center,
            #cbb689 0%,
            #dcc58f 50%,
            #9b774b 100%);
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

.relation-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 1%;

}

.pirateRelation-image {
    width: 30%;
    margin: 1%;
    border-radius: 8px;
    filter: sepia(0.5) contrast(1.2);
}

.container-footer {
    margin-top: 10px;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
}

.footer-data {
    display: flex;
    justify-content: center;
    gap:10px;
}

/*Sección de tipografías*/
h1 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 50px;
    margin: 1%;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 1%;
    color: rgb(137, 102, 28);
    text-shadow: 2px 2px 1px rgba(93, 44, 20, 0.2);
}

h3 {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 18px;
    margin: 1%;
}

.description-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    margin: 1%;
    text-align: justify;
}