.body-area {
    background-image: url(./images/background_body.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgba(86, 123, 128);
}

p {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: rgba(86, 123, 128);
}

form {
    background-color: rgb(255, 255, 255, 0.6);
    box-shadow: 1px 1px 5px rgb(48, 67, 66);
    padding: 2%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

.form-data {
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.space {
    display: flex;
    flex-direction: column;

}

.space-small {
    display: flex;
    gap: 1%;
}

.space-details {
    display: flex;
    justify-content: flex-start;
    gap: 15%;
}

.space-date {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.field-small::placeholder {
    font-style: italic;
    color: white;
}

.field-small {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 45%;
    padding: 18px;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    border-color: white;
    border-radius: 10px;
    border: none;
    color: white;
}

.field-description::placeholder {
    font-style: italic;
    font-family: "Inter", sans-serif;
    color: white;
}


.field-description {
    margin-top: 20px;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    border-color: white;
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    padding-left: 18px;
    padding-top: 20px;
    resize: none;
}

.field-date {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 18px;
    width: 89%;
    font-size: 14px;
    background-color: rgba(86, 123, 128, 0.6);
    border-color: white;
    border-radius: 10px;
    border: none;
    color: white;
}



.boton {
    margin-left: 69%;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background:
        radial-gradient(ellipse at top, rgb(93, 149, 145)),
        radial-gradient(ellipse at bottom, rgb(58, 76, 79));
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
}

.haki-checkbox {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: rgb(86, 123, 128);
    margin-top: 15px;
    max-width: 90%;
    margin-right: 9px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.haki-option {
    display: flex;
}

@media (max-width: 768px) {
    .body-area {
        background-image: url(./images/background_body.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .space {
        display: flex;
        flex-direction: column;
    }

    .space-small {
        display: flex;
        align-items: center;
    }

    .space-details {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15%;
    }

    .space-date {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    form {
        width: 70%;
        background-color: rgb(255, 255, 255, 0.6);
        box-shadow: 1px 1px 5px rgb(48, 67, 66);
        border-radius: 10px;
        backdrop-filter: blur(10px);
    }

    .form-data {
        display: flex;
        justify-content: center;
    }

    .field-small {
        margin-top: auto;
        margin-bottom: 5px;
        width: 90%;
        padding: 18px;
        font-size: 14px;
        background-color: rgba(86, 123, 128, 0.6);
        border-color: white;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .field-description {
        margin-top: auto;
        font-size: 14px;
        width: 95%;
        background-color: rgba(86, 123, 128, 0.6);
        border-color: white;
        border-radius: 10px;
        border: none;
        color: rgb(255, 255, 255);
        font-family: "Inter", sans-serif;
        padding-left: 18px;
        padding-top: 20px;
    }

    .field-date {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 18px;
        width: 89%;
        font-size: 14px;
        background-color: rgba(86, 123, 128, 0.6);
        border-color: white;
        border-radius: 10px;
        border: none;
        color: white;
    }

    .haki-checkbox {
        font-family: "Inter", sans-serif;
        font-weight: bold;
        font-size: 15px;
        color: rgb(86, 123, 128);
        margin-top: 15px;
        max-width: 90%;
        margin-right: 9px;
        gap: 10px;
        display: flex;
        flex-direction: row;
    }

    .boton {
        margin-left: 28%;
        border-radius: 30px;
        width: 200px;
        height: 50px;
        background:
            radial-gradient(ellipse at top, rgb(93, 149, 145)),
            radial-gradient(ellipse at bottom, rgb(58, 76, 79));
        color: white;
        font-weight: bold;
        border: none;
        margin-top: 15px;
        margin-bottom: 20px;
    }

}